compiler_flags/
ghidra_crackmes/
ghidra_patched/
llm_re_gproj/
crackmes.zip
.DS_Store

src/scripts/complexity_summary.py
src/scripts/detect_packer.sh
src/scripts/run_capa.sh
src/llm_re.ipynb
targets/crackmes
generated_c/
angr_scripts/
ghidra_scripts/
llm_re_testing/
radare_scripts/
allstar_targets/
analysis_json/
eval_plan